<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="60">
    <!-- 变量配置 -->
    <Properties>
        <Property name="log_path">E:/logs/web-maven/</Property>
    </Properties>

    <!-- appender配置 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
        </Console>
        <RollingFile name="DailyRollingFile" fileName="${log_path}/web-maven.log"
                     filePattern="${log_path}/web-maven%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
            <TimeBasedTriggeringPolicy  interval="1"/>
            <SizeBasedTriggeringPolicy size="10 MB" />

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>